igp_*
*.gz
*.swp
*_new
*_bak
pub/System/MoreFormfieldsPlugin/git/
pub/System/MoreFormfieldsPlugin/phonenumber.js
pub/System/MoreFormfieldsPlugin/clockpicker.init.js
pub/System/MoreFormfieldsPlugin/clockpicker.css
pub/System/MoreFormfieldsPlugin/clockpicker.js
pub/System/MoreFormfieldsPlugin/userfield.js
pub/System/MoreFormfieldsPlugin/networkaddress.js
pub/System/MoreFormfieldsPlugin/topicfield.js
pub/System/MoreFormfieldsPlugin/iconfield.js
pub/System/MoreFormfieldsPlugin/select2.js
pub/System/MoreFormfieldsPlugin/attachmentfield.js
pub/System/MoreFormfieldsPlugin/smartbox.js
pub/System/MoreFormfieldsPlugin/moreformfields.css
/MoreFormfieldsPlugin.md5
/MoreFormfieldsPlugin.sha1
/MoreFormfieldsPlugin.tgz
/MoreFormfieldsPlugin.txt
/MoreFormfieldsPlugin.zip
/MoreFormfieldsPlugin_installer
/MoreFormfieldsPlugin_installer.pl
